<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Kino</display-name>
  <description>To jest aplikacja do obsługi KINA</description>

  <!--&lt;!&ndash;główny context springa&ndash;&gt;-->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
  <!--</listener>-->

  <!--&lt;!&ndash;odpowiednik klasy RootConfig.java &ndash;&gt;-->
  <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:application.xml</param-value>-->
  <!--</context-param>-->

  <servlet>
    <servlet-name>kino</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--odpowiednik WebConfig.java-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/servlet-configuration.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>kino</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>